<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="Foto Roberto" src="assets\Foto Roberto.jpg" />

    
    <ion-card-header>
      <ion-card-title>Nome Aluno: Roberto Elias Nicolau Junior </ion-card-title>
      <ion-card-title>Matrícula: 22200752</ion-card-title>
      <ion-card-subtitle>Codigo da Turma: ADS0301M</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    
    </ion-card-content>
  </ion-card>

  
</ion-content>


